<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://127.0.0.1:5432/DB_ESAFE_MASTER" />
        <property name="username" value="postgres"/>
        <property name="password" value="Orion@123"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper class="br.inf.orion.eSafe.model.mapper.master.PerfilMapper" />
    <mapper class="br.inf.orion.eSafe.model.mapper.master.ClienteMapper" />
    <mapper class="br.inf.orion.eSafe.model.mapper.master.FuncionalidadeMapper" />
    <mapper class="br.inf.orion.eSafe.model.mapper.master.TipoContatoMapper" />
    <mapper class="br.inf.orion.eSafe.model.mapper.master.TipoEnderecoMapper" />
    <mapper class="br.inf.orion.eSafe.model.mapper.master.ClienteContatoMapper" />
    <mapper class="br.inf.orion.eSafe.model.mapper.master.ClienteEnderecoMapper" />
    <mapper class="br.inf.orion.eSafe.model.mapper.master.SistemaMapper" />
  </mappers>
</configuration> 